.DS_Store
CMakeUserPresets.json
build
test_package/build-release/
test_package/build-debug/
.conan/
*.vcxproj*
cmake_install.cmake
CMakeCache.txt
conan.lock
conanbuildinfo.txt
*.sln
.vs/*
CMakeFiles/*
tflite-example.dir/*
x64/*
Release/tflite-example.exe
Release/bird.png
Release/labels_mobilenet_quant_v1_224.txt
Release/mobilenet_v1_1.0_224_quant.tflite
Debug/tflite-example.exe
Debug/bird.png
Debug/labels_mobilenet_quant_v1_224.txt
Debug/mobilenet_v1_1.0_224_quant.tflite
conaninfo.txt
graph_info.json
